@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* start the default css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    background: #f5f8ff;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* reused css */
.text-center {
    text-align: center;
}
.primary_btn {
    padding: 14px 36px;
    border-radius: 10px;
    border: none;
    font-family: "Raleway", sans-serif;
    background: #4E47FF;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}
.section_padding {
    padding-top: 120px 0px;
}

/* reused css */

/* start the Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  height: 150px;
}
.logo {
    font-weight: 700;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
}
/* end the Navbar */

.hero_content .heading {
    font-size: 65px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 37px;
}
.hero_content {
    margin-bottom: 200px;
}


/* start the action section */
.action_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 116px;
}
.left_content {
    max-width: 517px;
}
.left_content .heading {
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
    color: #252432;
}
.left_content .paragraph {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    color: #969696;
    font-weight: 400;
    margin-bottom: 23px;
}
.right_image img {
    border-radius: 48px;
}
/* end the action section */

/* start the counter section */
.counter_section {
    margin-top: 116px;
    background: #e5e7ff;
    border-radius: 24px;
    padding: 50px 142px;
}
.counter_section .headings {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 40px;
    font-family: "Raleway", sans-serif;
}
.counter_item_wp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.counter_item_wp .counter_item .heading {
    font-size: 80px;
    color: #4E47FF;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
.counter_item .paragraph {
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #969696;
}
/* end the counter section */

/* start the user review section */
.user_review {
    padding-top: 116px;
}
.user_review .heading {
    font-size: 42px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    margin-bottom: 50px;
    color: #252432;
}
.user_review_wp {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.user_card {
    padding: 24px;
    border-radius: 10px;
    background: #fff;
}
.user_card .star_img {
    margin-bottom: 20px;
}
.user_card .title {
    font-size: 26px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #252432;
    margin-bottom: 8px;
}
.user_card .paragraph {
    font-size: 16px;
    color: #252432;
    font-family: "Inter", sans-serif;
    margin-bottom: 24px;
}

.user_area {
    display: flex;
    gap: 12px;
    align-items: center;
}

.user_card .user_img {
    width: 45px;
    height: 45px;
}
.user_card .user_img img {
    width: 100%;
    border-radius: 50%;
}
.user_info .nane {
    font-size: 16px;
    color: #969696;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    margin-bottom: 4px;
}
.user_info .designation {
    font-size: 16px;
    color: #969696;
    font-weight: 300;
    font-family: "Inter", sans-serif;
}

/* end the user review section */